* {

}

body {
    font-family: roboto, sans-serif;
    margin: 0;
    
}

.blue-bg {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    height: 5em;
}

.header div {
    color: red;
    font-size: 18px;
    color: #e5e7eb;
}

.header .logo-text {
    font-size: 24px;
    flex: 1;
    color: #f9faf8;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    height: 20em;
}

.hero div {
    flex: 1;
}

.hero-txt .hero-main {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-txt .hero-body {
    font-size: 18px;
    
}

.hero-txt .hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: .5em;
    height: 3em;
    width: 9em;
    border-radius: 1em;
}

.hero-img img {
    display: block;
    margin: auto;
}


.random-info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-bottom: 75px;
}

.boxes > * {
    width: 10em;
    display: block;
}

.boxes img {
    display: block;
    margin: auto;
    height: auto;
    width: 95%;
    border: .2em solid #3882f6;
    border-radius: 1em;
}

.boxes p {
    display: block;
    text-align: center;
    color: #5c5c5c;
    font-size: 14px;
}


.quote-box {
    height: 23em;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.quote-text {
    text-align: left;
    width: 50%;
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin: 0;
}

.quote-name {
    text-align: right;
    width: 50%;
    padding-right: 1em;
    font-size: 30px;
    font-weight: 700;
    margin: 0em;
}